*{
    margin: 0;
    padding: 0;
}
body{
    width: 1600px;
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
}
/* header section design starts */
header{
    background-image: url("../images/banner/banner1.png");
    background-size: cover;
    padding: 200px;
    text-align: right;
}
.header{
    width: 40%;
    margin-left: auto;
}
.header-title{
    font-size: 65px;
}
.description{
    margin: 25px 0;
    color: #444343;
}
.btn-primary{
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    background-color: 	#FF4500;
    color: white;
}

/* achievement & failure part design starts */
.article{
    padding: 150px 200px 0;
    display: flex;
    align-items: center;
    gap: 50px;
}
.section-heading{
    font-size: 40px;
    padding-right: 80px;
}
.correct{
    color: #FF4500;
}

/* my plans part design starts */
.my-plan{
    text-align: center;
    margin: 120px 0;
}
.plans{
    display: flex;
    justify-content: space-evenly;
}
.my-plan h2{
    margin-bottom: 80px;
}
.col h3{
    font-size: 30px;
    margin: 10px 0;
}
.col p{
    font-size: 25px;
}