*{
    margin: 0;
    padding: 0;
}
body{
    width: 1600px;
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
}
/* header section design starts */
header{
    background-image: url("../images/banner/banner1.png");
    background-size: cover;
    padding: 200px;
    text-align: right;
}
.header{
    width: 40%;
    margin-left: auto;
}
.header-title{
    font-size: 65px;
}
.description{
    margin: 25px 0;
    color: #444343;
}
.btn-primary{
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    background-color: 	#FF4500;
    color: white;
}

/* achievement & failure part design starts */
.article{
    padding: 150px 200px 0;
    display: flex;
    align-items: center;
    gap: 50px;
}
.section-heading{
    font-size: 40px;
    padding-right: 80px;
}
.correct{
    color: #FF4500;
}

/* my plans part design starts */
.my-plan{
    text-align: center;
    margin: 120px;
}
.plans{
    display: flex;
    justify-content: space-evenly;
}
.my-plan h2{
    margin-bottom: 80px;
}
.col h3{
    font-size: 30px;
    margin: 10px 0;
}
.col p{
    font-size: 25px;
}

/* timing part design starts */
.timing{
    background-image: url("../images/watch.png"),  linear-gradient(90deg,orangered, white);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 200px;
    border-radius: 10px;
}
.box-text{
    padding: 50px;
    color: white;
    width: 45%;
}
.box-text button{
    background-color: white;
    color: #FF4500;
    border: #FF4500;
    margin-top: 20px;
}
/* footer design starts */
footer{
    background-color: black;
    color: white;
    margin-top: 100px;
    padding: 120px 200px; 
    display: flex;
    justify-content: space-between;
}
.future{
    width: 50%;
}
footer h2{
    font-size: 40px;
    margin-bottom: 20px;
}
footer h3{
    font-size: 30px;
    margin-bottom: 20px;
}
footer p{
    margin-bottom: 15px;
}
.footer-icons img{
    margin-top: 20px;
    margin-right: 20px;
}
.subscribe input{
    display: block;
    font-size: 20px;
    padding: 15px 20px; 
    border-radius: 5px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-color: 	black;
    margin-bottom: 20px;
}
.subscribe button{
    background-color: white;
    color: #FF4500;
    border: #FF4500;
    padding: 15 30px;
}
